// Define the styles for the product page
.productPage {
  padding: 1rem;
  margin-top: 8rem;
  background: white;

  // Define the container for the products
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    // Define the styles for each product
    .product {
      flex-basis: 30%;
      margin-bottom: 5rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px;
      padding: 10px;
      border-radius: 20px;
      background-color: #fff;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.20);

      // Define styles for the product title
      h3 {
        color: #007185;
        font-weight: 700;
        line-height: 20px;
        margin: 20px;
      }

      p {
        color: black;
        font-weight: 300;
        line-height: 20px;
        margin: 20px;
      }

      // Define styles for the product image
      img {
        height: 10rem;
        border-radius: 20px;
      }

      // Define styles for the product button
      button {
        background-color: #fbd815;
        width: 13rem;
        padding: .5rem;
        font-size: 1.1em;
        border-radius: 20px;
        border-color: #D5D9D9;
        border-style: solid;
        border-width: 1px;

        // Define styles for button hover state
        &:hover:not([disabled]) {
          background-color: #beaf5a;
          cursor: pointer;
        }

        // Define styles for disabled button
        &:disabled {
          opacity: .5;
          background-color: lightgray;
        }
      }
    }

    // Media queries for responsiveness
    @media (max-width: 767px) {
      .product {
        flex-basis: 50%;
      }
    }

    @media (max-width: 400px) {
      .product {
        flex-basis: 100%;
      }
    }
  }
}

// Define styles for error messages
.error {
  color: red;
  text-align: center;
}
