.container {
  margin: 1rem;
  padding: 0 1rem;
  display: flex;
  border: none;
  background: none;
  cursor: pointer;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;

  &:hover {
    transform: scale(1.05); /* Slightly scale up on hover */
    background: rgba(0, 0, 0, 0.167);
    border-radius: 20px;
  }
  
  .shoppingCart {
    height: 1em;
    padding: 1rem .4rem;
    will-change: filter;
    transition: filter 300ms;
  }

  .productsCount {
    z-index: 1;
    font-size: 2em;
    top: 38px;
    color: #ffffff;
  }
}
