.container {
  margin: 1rem;
  padding: 0 1rem;
  display: flex;
  border: none;
  background: none;
  cursor: pointer;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;

  &:hover {
    background-color: rgba(255, 255, 255, 0.221);
  }
  
  .shoppingCart {
    height: 1em;
    padding: 1rem .4rem;
    will-change: filter;
    transition: filter 300ms;

  }

  .productsCount {
    z-index: 1;
    font-size: 2em;
    top: 38px;
    color: rgb(255, 255, 255);
  }
}
